.footerContainer {
  height: 120px;
  width: 100vw;
  background-color: #262936;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-left: 5%;
}

.right {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  margin-right: 5%;
  gap: 30px;
}

.secondaryButton {
  cursor: pointer;
  text-align: center;
  padding: 5px;
  color: #fff;
  font-weight: 600;
}

.mainButton {
  cursor: pointer;
  display: inline-flex;
  appearance: none;
  align-items: center;
  -webkit-box-align: center;
  justify-content: center;
  white-space: nowrap;
  vertical-align: middle;
  outline: 2px solid transparent;
  outline-offset: 2px;
  line-height: 1.2;
  font-weight: 600;
  transition-property: background-color, border-color, color, fill, stroke,
    opacity, box-shadow, transform;
  transition-duration: 200ms;
  height: 3rem;
  min-width: 3rem;
  font-size: 1rem;
  background: #e5e5ea;
  background-image: linear-gradient(to right, #cc25b3 0%, #418dff 101.52%);
  color: #fff;
  width: 180px;
  text-align: center;
  border-radius: 9999px;
}

.mainButton:hover {
  opacity: 0.8;
}

.fmbs-footer-wrapper {
	color: #fff;
}

.fmbs-footer__primary-section {
	display: flex;
	margin-top: 60px;
	margin-bottom: 40px;
}

.fmbs-footer-form {
	display: flex;
    flex-direction: column;
    justify-content: center;
	font-family: 'Poppins', sans-serif;
	flex-grow: 1;
}

.fmbs-footer-form__header {
	font-size: 18px;
	font-weight: 500;
	margin-top: 0;
}

.fmbs-footer-form__input-wrapper {
	display: flex;
}

.fmbs-footer-form__input {
	font-size: 14px;
	border: 0;
	padding: 12px 10px;
	padding-right: 20px;
	box-sizing: border-box;
	border-radius: 10px;
}

.fmbs-footer-form__input:focus {
	outline: none;
}

.fmbs-footer-form__submit {
	font-family: 'Abel', sans-serif;
	font-size: 14px;
	color: #fff;
	padding: 12px 30px;
	border: 0;
	background: linear-gradient(101.12deg, #EB1484 27.35%, #C91CC3 99.99%, #C81CC5 100%, #C81CC5 100%);
	border-radius: 10px;
	margin-left: -20px;
}

.fmbs-footer__link-column {
	display: flex;
	flex-direction: column;
	width: 220px;
}

.fmbs-footer__link-column h3 {
	margin-top: 0;
}

.fmbs-footer__link-column a {
	margin-bottom: 5px;
	color: #fff;
	text-decoration: none;
}

.fmbs-footer__link-column a:hover {
	text-decoration: underline;
}

.fmbs-footer__secondary-section {
	border-top: 1px solid #fff;
	padding-top: 40px; 
}

.fmbs-footer__secondary-section-wrapper {
	display: flex;
	align-items: center;
}

.fmbs-footer__secondary-section p {
	flex-grow: 1;
}

.fmbs-footer__socials a {
	margin-left: 20px;
}

/* If mobile, stack right column */
@media screen and (max-width: 850px) {
  .right {
    flex-direction: column;
    gap: 10px;
  }
}
